@import "vendor/bootstrap/bootstrap_5";
@import "vendor/select2/select";
@import "vendor/swiper/swiper";

@import "abstracts/abstracts";
@import "generic/normalize";
@import "base/base";

@import "components/components";
// @import "plugins/jetpack/infinite-scroll";
//@import "plugins/swiper/swiper";
@import "plugins/bootstrap/bootstrap";
@import "plugins/swiper/swiper";

@import "_custom/elementor";
@import "_custom/shadow";
@import "_custom/colors";

@import "_custom/pooya";
@import "_custom/carousel";
@import "_custom/logo";
@import "_custom/select";
@import "_custom/search";
@import "_custom/shop";
@import "_custom/product";
@import "_custom/checkout";
@import "_custom/account";
@import "_custom/dokan";
@import "_custom/cart";
@import "_custom/menu";
@import "_custom/header";
@import "_custom/footer";
@import "_custom/select";
@import "_custom/minicart";
@import "_custom/thankyou";
@import "_custom/dashboard";
@import "_custom/wishlist";
@import "_custom/brands";
@import "_custom/fonts";
@import "_custom/404";
@import "_custom/typography";
@import "_custom/messages";
@import "_custom/widget";
// @import "_custom/nav";
@import "_custom/megamenu";
@import "_custom/breadcrumb";
@import "_custom/page";

body {
  overflow-x: hidden;
  color: #545454 !important;
}

.woocommerce-store-notice,
p.demo_store {
  height: 50px !important;
  background-color: #f57c18 !important;
}

.woocommerce-store-notice.demo_store {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-size: 1.2rem;
}

.wooscp_table {
  tbody {
    td {
      width: 150px !important;
    }
  }
}

.wooscp-area
  .wooscp-inner
  .wooscp-table
  .wooscp-table-inner
  .wooscp-table-items
  table
  tbody
  tr
  td {
  width: 150px !important;
}

.site-branding {
  align-self: center;
}

.input-group-append button {
  border: none !important;
  border-radius: 10px 0 0 10px;
}

.woocommerce-products-header .woocommerce-breadcrumb a {
  margin-right: 5px;
  margin-left: 5px;
}

.btn {
  transition: none !important;
}

.line_height_2 {
  line-height: 2 !important;
}

.line_height_3 {
  line-height: 3 !important;
}

#page {
  // min-height: 50vh;
  // background-color: $color__background_body;
  // background-color: red;
  // width: 900px;
  // margin-top: -75px;
}
