// Custom
$color_input_bg: #dee0e6;
$color__background_body: #dee0e6;
$color__background-button: #e6e6e6;
$color__gray_light: #f5f5f5;

$color_orange: #ffa822;
$color_orange_dark: #e4951e;
$color_gray_light: #f5f5f5;
$color_gray: #717171;
$color_dark_gray: #222222;
$color_cyan: #1ac0c6;
$color_cyan_dark: #149ba0;
$color_red: #dc3545;

.csf-theme-dark .csf-header-inner,
.csf-theme-dark .csf-footer {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0;
}

.csf-theme-dark .csf-header-inner h1 {
  color: $color_dark_gray;
}

.csf-theme-dark .csf-nav-background {
  background-color: transparent;
  padding: 10px;
}

// .csf-theme-dark .csf-nav ul li a {
//   color: #363636;
//   border-color: #2f2f2f;
//   background-color: #1ff5bf;

// }
.csf-theme-dark .csf-nav ul li a {
  color: #000000;
  background-color: white;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  &:hover {
    color: #464646;
  }
}

.csf-theme-dark .csf-nav ul li .csf-active {
  background-color: $color_cyan;
  &:hover {
    color: #ffffff;
  }
}

.csf-theme-dark .csf-expand-all {
  color: #fff;
  background-color: #ff0707;
}
.csf-theme-dark .csf-expand-all:hover {
  color: #fff;
  background-color: #c20000;
}

.csf-wrapper {
  // border-radius: 20px;
  // overflow: hidden;
}

.csf-nav ul li {
  margin-bottom: 5px;
  // border-radius: 20px;
  // overflow: hidden;
  border-bottom: none;
}

.csf-nav-normal + .csf-content {
  border-radius: 20px;
}

.csf-buttons .csf-save {
  border-radius: 10px;
  background-color: $color_orange;
  border: none;
  &:hover{
    background-color: $color_orange-dark;
  }
}
.csf-theme-dark .csf-expand-all {
  border-radius: 10px;
  background-color: $color_cyan;
  border: none;
  &:hover{
    background-color: $color_cyan_dark;
  }
}

.csf--button{
  background-color: black;
}
