.csf-theme-dark .csf-header-inner,
.csf-theme-dark .csf-footer {
  background-color: #07bce9;
}

.csf-theme-dark .csf-header-inner h1 {
  color: #fff;
}

.csf-theme-dark .csf-nav-background {
  background-color: #ffffff;
}

.csf-theme-dark .csf-nav ul li a {
  color: #363636;
  border-color: #2f2f2f;
  background-color: #1ff5bf;
}
.csf-theme-dark .csf-nav ul li .csf-active {
  color: #000000;
  background-color: #73ffdc;
}

.csf-theme-dark .csf-expand-all {
  color: #fff;
  background-color: #ff0707;
}
.csf-theme-dark .csf-expand-all:hover {
  color: #fff;
  background-color: #c20000;
}
