.widget {
  margin: 0 0 1.5em;
  background-color: white;
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  padding: 20px;
  border-radius: 15px;

  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }
}

.dokan-category-menu {
  .widget-title {
    padding: 10px 25px !important;
  }
}

.widget_widget_account_funds {
  //background-color: #ffffff;
  padding-bottom: 0;

  .woocommerce-account-funds {
    border-radius: 20px;
    color: #454545;
    padding: 20px 0;
    text-align: right;

    p a.button {
      //background-color: #C82333 !important;
      border-radius: 20px;
      border: 1px solid black;
      //color: white;
      padding: 10px 20px;
    }
  }

  .widget-title {
    //background-color: #C82333;
    //border-radius: 20px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    //color: #ffffff !important;
  }
}

.widget_shopping_cart {
  padding: 0;
  .widget-title {
    padding: 10px 20px;
  }
  .widget_shopping_cart_content {
    .cart_list {
      padding: 10px 0px 10px 10px;
      // padding-right: 0px;
      .woocommerce-mini-cart-item {
        .remove_from_cart_button {
          //background-color: #C82333 !important;
          //color: white !important;
          top: 10px;
          opacity: 0;
        }
      }
      .woocommerce-mini-cart-item:hover .remove_from_cart_button {
        opacity: 1;
      }
    }

    .woocommerce-mini-cart__total {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #cbfff1;
      color: #000000;
    }

    .woocommerce-mini-cart__buttons {
      display: flex;
      justify-content: space-between;

      .button {
        //border: 1px solid black;
        //border-radius: 20px;
        text-align: right;
      }
    }
  }
}

.widget_price_filter {
  .widget-title {
    margin-bottom: 20px !important;
  }
  .price_slider_wrapper {
    .price_slider_amount {
      display: grid;
      justify-content: space-between;
      .button {
        order: 2;
      }
      .price_label {
        order: 1;
      }
    }
  }
}

.price_slider_wrapper {
  .price_slider_amount {
    .price_label {
      display: flex;
      //text-align: right;
    }
    .button {
    }
  }
}

//.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a,
.woocommerce
  .woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item
  span {
  float: left !important;
}

.widget_shopping_cart {
  min-height: 50px;
  padding: 10px 5px;
}
.widget_rating_filter {
  li.wc-layered-nav-rating > a {
    display: flex;
    justify-content: space-between;
  }
}
.widget_product_categories {
  .product-categories {
    .current-cat-parent > a {
      color: $color__red;
    }
    .cat-parent {
      .children {
        padding-right: 10px;
      }
    }
  }
}
