.entry-content {
}

.woocommerce-account .woocommerce-MyAccount-content {
  text-align: right;
  padding-right: 30px;
  padding-top: 30px;
}
.woocommerce-MyAccount-navigation {
  width: 25% !important;
}
.woocommerce-Address-title {
  //display: flex;
  //flex-direction: column;
}

.my_account_parrent {
  box-shadow: $box_shadow_secondary;
  .account-orders-table {
    border: none !important;
    border-spacing: initial;
    th {
      padding-bottom: 15px !important;
    }
    td {
      // padding-bottom: 0 !important;
      // padding-top: 0 !important;
    }
    th,
    td {
      text-align: right;
    }
  }
  .woocommerce-orders-table__cell-order-actions a {
    border: 1px solid $color__red;
    border-radius: 8px;
    padding: 10px 20px;
  }
  .woocommerce-orders-table__cell-order-actions a:hover {
    background-color: $color__red;
    color: white;
  }
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

.app_acount_founds_form_wraper {
  .form-row-first {
    inpup.app_acount_founds_form_input {
      border-radius: 0 10px 10px 0 !important;
    }
  }
  .form-row {
    // border-top-left-radius: 0;
    input.app_woo_acount_found_inc {
      border-radius: 10px 0 0 10px;
    }
  }
}

.app_woo_dls {
  .app_woo_dls_btn {
    border: 1px solid $color__red;
    border-radius: 8px;
    padding: 10px 20px;
    color: rgb(31, 31, 31);
  }
}
.app_woo_dls {
  .app_woo_dls_btn:hover {
    background-color: $color__red;
    color: white !important;
  }
}

.woocommerce-Address {
  .woocommerce-Address-title a {
    border: 1px solid $color__red;
    border-radius: 8px;
    padding: 10px 20px;
    color: rgb(31, 31, 31);
  }
}
.woocommerce-Address {
  .woocommerce-Address-title a:hover {
    background-color: $color__red;
    color: white !important;
  }
}

.app_woo_form_edit_save:hover {
  // border: none;
  background-color: $color__red !important;
}

h2.app_woo_login_text,
h2.app_woo_signup_text {
  transition: all 1s;
}
.app_woo_login {
  border-radius: 0 12px 12px 0;
}
.app_woo_signup:hover {
  h2.app_woo_signup_text {
    color: $color__red;
    transform: scale(1.4);
  }
}

.app_woo_login:hover {
  h2.app_woo_login_text {
    // color: $color__red;
    transform: scale(1.4);
  }
}

.show-password-input {
  color: #545454;
}

.woocommerce-form-login__submit,
.woocommerce-form-register__submit {
  border-radius: 10px !important;
}
