.prm-brands-list {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}
.prm-brands-list__item {
  border: 1px solid #f0f0f1 !important;
  border-radius: 12px 12px 15px 15px;
  // background-color: aqua;

  .prm-brands-list__title {
    border-radius: 0 0 12px 12px;
  }
}
