
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #0f834d;
$woocommerce__color-info: #3d9cd2;

// Custom
$color_input_bg: #dee0e6;
$color__background_body: #dee0e6;
$color__background-button: #e6e6e6;
$color__gray_light: #f5f5f5;
