.legend > table,
.legend > div {
  position: absolute;
  top: 17px;
  left: 21px;
  font-size: smaller;
  color: #aaa;
  right: 260px;
  background-color: #ffffff00 !important;
}

.dashboard_btn_edit:hover {
  border: none;
  transition: none;
}

.is-active {
  background-color: #ebebeba8;
  padding: 30px 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 12px;
}

.app_bg_light {
  background-color: #ebebeba8;
}

.app_dashboard_row_bg {
  background-color: #ebebeba8;
  border-radius: 12px;
  padding: 10px 10px;
}

.app_dashboard_notice {
  line-height: 2 !important;
  a {
    color: $color__dark_red;
  }
}
