.dokan-dashboard-wrap {
  background-color: #fff !important;
  padding: 30px;
  border-radius: 20px;
}

.dokan-dashboard .dokan-dash-sidebar {
  background-color: #ffffff !important;
}

.dokan-dashboard-menu {
  background-color: #fff !important;

  li {
    a {
      color: black !important;
    }
  }
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
  background-color: #cbcbcb !important;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
  background-color: #dc3545 !important;
}

.dokan-btn {
  background-color: #dc3545 !important;
}

.dokan-dashboard-menu,
.dokan-dashboard-content {
  text-align: right;
}

.cat-drop-stack {
  list-style: none;
}

div.dokan-dashboard-content
  > article
  div.chart-container
  > div
  > div.legend
  > table {
  right: 50px !important;
  tbody > tr > td > div {
    // border: none !important;
  }
}

.dokan-store-info {
  // background-color: #f0f0f1 !important;
  padding: 10px 15px !important;
}

#dokan-seller-listing-wrap
  ul.dokan-seller-wrap
  li
  .store-footer
  .seller-avatar {
  right: 20px !important;
  // left: auto;
}

.featured-label {
  margin-right: auto !important;
}

.dokan-single-seller {
  .store-wrapper {
    .store-data-container {
      text-align: right !important;
    }
  }
}

.dokan-seller-listing-wrap {
  .seller-listing-content {
    .dokan-error::before {
    }
  }
}

// .dokan-message:before,
// .dokan-info:before,
.dokan-error:before {
  right: 24px !important;
}
