.app_woo_onsale_widget_button {
  border: 1px solid white !important;
  color: #fff !important;
  font-size: 1.2rem;
}
.app_woo_onsale_widget_button:visited {
  color: #fff !important;
}
.app_woo_onsale_widget_button:hover {
  border: none;
  background-color: #fff !important;
  color: rgb(0, 0, 0) !important;
}
