// .newslater_wrapper {
//   .form-control {
//     border-radius: 0 12px 12px 0 !important;
//     padding: 10px 15px;
//     border: none;
//   }
//   .btn {
//     border-radius: 12px 0 0 12px !important;
//     background-color: $color__red;
//     color: white;
//   }
// }
// ======================
.app_footer_box {
  background-color: $color__gray_light;
  border-radius: 20px;
  margin-bottom: -120px;
  z-index: 1;
  position: relative;
}

.site-footer .footer-copyright {
  background-color: #ffffff;
  height: 200px;
}
