// ========================================================
.site-header {
  padding: 30px 0 30px 0;
  // box-shadow: $box_shadow_main;
  background-color: #fff;
  height: 200px;
}

#woocommerce_product_search_field {
  border: none;
  background-color: $color_input_bg;
  outline: none;
  //   padding: 10px;
  padding: 10px 10px;
  border-radius: 0px 12px 12px 0;
  width: 30vw;
}

.select2-selection--single {
  background-color: $color_input_bg !important;
  border: none !important;
  outline: none !important;
}

.app_woo_search_btn {
  border: none;
  background-color: $color_input_bg !important;
  border-radius: 12px 0 0 12px;
  padding: 10px 10px;
  i {
    line-height: 1.8;
  }
}

.app_woo_header_icons {
  .app_woo_user_links {
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    // left: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: $box_shadow_main;
    transition: all 0.4s;
  }
}

.app_user_links_icon:hover + .app_woo_user_links,
.app_woo_user_links:hover {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.app_woo_product_search {
  .select2-container {
    background-color: $color_input_bg;
    padding: 10px;
    .select2-selection__rendered {
      display: none;
    }
    .select2-selection__arrow {
      height: 100%;
      b {
        background-image: url(../images/svg/layer.svg) !important;
      }
    }
  }
}

.user_links_dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  padding: 15px;
  box-shadow: $box_shadow_main;
  left: 0;
  background-color: #fff;
}

.app_woo_user_icon {
  // padding: 50px 15px;
  // height: 40px !important;
  // width: 40px;
  // border: 1px solid $color_orange;
  // border-radius: 10px;
}

// .app_woo_user_icon,
.user_links_dropdown,
.app_woo_wishlist_icon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid $color_orange;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
  i {
    line-height: 2;
  }
}

.user_links_dropdown {
  .app_woo_user_icon:hover + .user_links_dropdown-content,
  .user_links_dropdown-content:hover {
    visibility: visible;
    opacity: 1;
  }
}

.app_woo_shopping_icon {
  background-color: $color_orange;
  color: white;
  height: 40px;
  padding: 0 40px;
}
