// .app_top_header {
//   justify-content: space-between;
// }

// .app_auth_urls {
//   // display: none;
//   // visibility: hidden;
//   // opacity: 0;
//   // transition: all 0.5s;
// }

// .app_auth_trigger:hover .app_auth_urls {
//   // display: block;
//   // visibility: visible;
//   // opacity: 1;
// }

// .user_links_dropdown {
//   position: relative;
//   display: inline-block;
// }

// .user_links_dropdown-content {
//   // display: none;
//   visibility: hidden;
//   opacity: 0;
//   position: absolute;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
//   transform: translateX(80%);
//   transition: all 0.5s;
//   padding: 10px 10px;
//   top: 40px;
// }

// .user_links_dropdown:hover .user_links_dropdown-content {
//   // display: block;
//   visibility: visible;
//   opacity: 1;
// }

// .show {
//   display: block;
// }

// .circle_padding_white {
//   padding: 12px;
//   background-color: white;
//   border-radius: 10px;
// }
// .circle_padding_black {
//   padding: 10px;
//   background-color: black;
//   border-radius: 20px;
// }

// .site-navigation {
//   display: flex !important;
//   justify-content: space-between;
// }
// .app_top_bar {
//   .app_top_icons {
//     a.app_social_icon_link {
//       i.app_social_icon {
//         color: white !important;
//       }
//     }
//   }
// }

// .app_top_header {
//   // height: 60px !important;
//   padding: 15px 0;
// }

// // select:active,
// // select:hover {
// //   outline: none;
// // }

// // /* make it red instead (with with same width and style) */
// // select:active,
// // select:hover {
// //   outline-color: red;
// // }

// .app_woo_cart_qty {
//   border: 6px solid #f0f0f1;
//   border-radius: 50%;
//   /* padding: 2px 4px; */
//   width: 30px;
//   height: 30px;
//   text-align: center;
//   line-height: 1.4;
//   top: -15px;
//   right: -10px;
//   background-color: white;
// }

// .user_links_dropdown {
//   .dropdown-item:active {
//     background-color: rgba(250, 235, 215, 0) !important ;
//     color: black !important;
//   }
// }
// ========================================================
.site-header {
  padding: 30px 0 30px 0;
  // box-shadow: $box_shadow_main;
  background-color: #fff;
}

#woocommerce_product_search_field {
  border: none;
  background-color: $color_input_bg;
  outline: none;
  //   padding: 10px;
  padding: 10px 10px;
  border-radius: 0px 12px 12px 0;
  width: 30vw;
}

.select2-selection--single {
  background-color: $color_input_bg !important;
  border: none !important;
  outline: none !important;
}

.app_woo_search_btn {
  border: none;
  background-color: $color_input_bg !important;
  border-radius: 12px 0 0 12px;
  padding: 10px 10px;
  i {
    line-height: 1.8;
  }
}

.app_woo_header_icons {
  .app_woo_user_links {
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    // left: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: $box_shadow_main;
    transition: all 0.4s;
  }
}

.app_user_links_icon:hover + .app_woo_user_links,
.app_woo_user_links:hover {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.app_woo_product_search {
  .select2-container {
    background-color: $color_input_bg;
    padding: 10px;
    .select2-selection__rendered {
      display: none;
    }
    .select2-selection__arrow {
      height: 100%;
      b {
        background-image: url(../images/svg/layer.svg) !important;
      }
    }
  }
}
