.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border: none;
}

.woocommerce-error::after,
.woocommerce-error::before,
.woocommerce-info::after,
.woocommerce-info::before,
.woocommerce-message::after,
.woocommerce-message::before {
  content: "" !important;
}

.woocommerce-error {
  color: $color__red !important;
}
