.product_title.entry-title {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  padding-top: 20px !important;
}

.woocommerce-product-gallery__trigger {
  display: none !important;
}

.woocommerce-page div.product div.images {
  width: 100%;
}

.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel {
  background-color: white;
  padding: 30px !important;
  text-align: right;
  color: #6e6e6e !important;
  font-size: 1.4rem !important;

  .text {
    color: #6e6e6e !important;
    font-size: 1.4rem !important;
  }
}

.woocommerce-Tabs-panel--seller {
  ul {
    background-color: #f0f0f1;
    border-radius: 12px;
    padding: 12px;
    li {
      // background-color: #fff !important;
    }
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-bottom: 0%;
  //text-align: center;
  margin-bottom: 0% !important;
  display: flex;
  overflow-x: auto;
}

.woocommerce-tabs {
  width: 100% !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border: none !important;
}

.woocommerce div.product .woocommerce-tabs > ul.tabs > li {
  background-color: #f4f4f8 !important;
  width: fit-content;
  border: none !important;
  border-radius: 0% !important;
  margin: 0 !important;
  outline: none !important;
}

.woocommerce div.product .woocommerce-tabs > ul.tabs > li.active {
  background-color: #ffffff !important;
  border-top: 3px solid #e46161 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none !important;
}

/* Titles */
section h2 {
  text-align: right;
  //display: none;
}

section .related_products {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 0px;

  .related {
    width: 100%;
    overflow-x: hidden !important;
    //margin-left: auto;
    //margin-right: auto;

    ul.products {
      display: flex;
      justify-content: space-between;
      //margin-bottom: 0 !important;

      .product {
        //margin-bottom: 0 !important;
        margin-left: 10px;
      }
    }
  }
}

table.variations {
  .select_box_colorpicker {
    .select_option_colorpicker {
      border: 0;

      span {
        border: 0 !important;
        border-radius: 12%;
      }
    }
  }
}

.yith-wcwl-add-to-wishlist {
  margin-top: 0 !important;
}

.product_meta_wraper {
  .product_meta {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .sku_wrapper,
    .posted_in,
    .product-brand {
      display: flex;
      justify-content: space-between;
    }

    span {
      display: inherit;
      margin-bottom: 10px;
      //justify-content: space-between;
      a:first-child {
        margin-right: auto !important;
      }
    }
  }
}

.flex-control-thumbs {
  // display: flex;
  .swiper-slide,
  li {
    // width: 400px !important;
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  //margin: 0;
}

.woocommerce-message,
.woocommerce-error {
  background-color: #fff !important;
  text-align: right !important;
}

.single_add_to_cart_button {
  background-color: #e1515f !important;
  border-radius: 12px !important;
  height: 35px;
}

.select_option_label.select_option {
  border: 0;
  border-radius: 15%;
  background-color: #fff;

  span {
    //border: 1px solid black;
    border-radius: 15%;
  }
}

.woocommerce-variation-price {
  .price {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.woocommerce div.product .stock {
  color: #981313;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #565656;
}

.variations_form.cart {
  p.stock {
    text-align: right !important;
    font-size: 1rem !important;
    color: #242424;
    // background-color: $color__red;
    // padding: 10px 10px;
    //border-radius: 20px;
    // border-top: 3px solid black;
    // border-radius: 12px;
  }
}

div.product .app_woo_compare_icon:before {
  content: none;
}

.app_woo_product_thumb_icons {
  // background-color: #f4f4f8;
  padding: 10px 5px;
  i {
    font-size: 20px;
    background-color: #f4f4f8;
    padding: 12px;
    border-radius: 12px;
  }
  i:hover {
    color: $color__red;
  }
}

.variations_form {
  .out-of-stock {
    text-align: right !important;
    font-size: 1rem !important;
    color: #ffffff;
    background-color: $color__red;
    padding: 10px 10px;
    border-radius: 12px;
  }
}

.variations_form.cart {
  margin-left: auto;
}

.single_add_to_cart_button button {
}

.app_woo_product_short_desc,
.app_woo_product_box {
  border-radius: 12px !important;
  overflow: hidden;
}

.woocommerce-Tabs-panel--additional_information h2,
.woocommerce-Tabs-panel--description {
  h2 {
    color: $color__red !important;
    font-size: 12px;
  }
}

//@media only screen and (max-width: 600px) {
//  .woocommerce div.product .woocommerce-tabs li {
//    /* padding: 0 10px !important;
//    font-size: 0.8rem; */
//  }
//
//  .woocommerce div.product .woocommerce-tabs li a {
//    /* padding: 0 30px !important; */
//    font-size: 0.8rem;
//    font-weight: 500;
//    line-height: 17px;
//    width: max-content;
//    padding-bottom: 12px !important;
//  }
//}

.product .app_woo_product_thumb_icons .onsale {
  // margin-top: 78px !important;
  // border-radius: 0px !important;
}

.app_woo_single_product .onsale {
  top: 60px !important;
  border-radius: 0px !important;
}

//
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

table.woocommerce-product-attributes {
  border: none !important;
  tr.woocommerce-product-attributes-item {
    th,
    td {
      border: none !important;
    }
    td.woocommerce-product-attributes-item__value {
      background-color: #f0f0f1;
      border-radius: 12px;
      padding-right: 20px;
    }
  }
}

.woocommerce-Reviews {
  .commentlist {
    li.review {
      width: 100% !important;
      background-color: whitesmoke !important;
      border-radius: 12px !important;
      // padding: 10px !important;
    }
    .comment_container {
      .avatar {
        width: 80px !important;
        height: 80px !important;
        padding: 0px !important;
        border: none !important;
        position: relative !important;
        border-radius: 0 12px 12px 0 !important;
      }
      .comment-text {
        margin-right: 80px !important;
        border: 0px !important;
      }
    }
  }
}

.app_qty_val {
  border: none !important;
  height: 35px;
  border-radius: 12px !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.103);
  padding-right: 20px !important;
}

.woocommerce-product-attributes.shop_attributes {
  border-collapse: separate;
  border-spacing: 15px;
}

.woocommerce table.shop_attributes tr:nth-child(even) th {
  background: rgba(0, 0, 0, 0) !important;
}
