// ===============================================
.header_search_form_wraper {
  // border-radius: 15px !important;
  // overflow: hidden;
  padding: 0;
  .result {
    overflow: scroll;
  }
  .result--open {
    opacity: 1;
  }
}

.woocommerce-product-search {
  height: 40px;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  border-radius: 15px !important;
  overflow: hidden;
}
.product_search_term {
  border: none !important;
  outline: none !important;
  background-color: #dddddd;
  // padding: 0 !important;
  flex: 1;
}

.product_search_btn {
  border: none;

  background: rgba(0, 0, 0, 0);
}

#result {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 300px;
  // display: none;
  border-radius: 20px;
  width: 100%;
  box-shadow: $box_shadow_main;
}

.result-product {
  margin: 5px;
  // border: 1px solid rgba(128, 128, 128, 0.473);
  box-shadow: $box_shadow_secondary;

  border-radius: 20px;
  overflow: hidden;
  padding: 3px;
}

.result-prodyct-image {
  width: 40px;
  height: 40px;
}

.result-title {
  font-size: 1rem;
}

body:active,
body:focus {
  #result {
    // opacity: 0;
  }
}

.result-product {
  img {
    width: 40px;
    height: 40px;
  }
}

#result {
  // opacity: 0;
}

.spinner-loader {
  width: 30px;
  height: 30px;
  // background: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif);
  // background: url(../images/svg/loading.svg);
  // background: url(https://www.myprincipallifestyle.com/assets/img/loading.gif);
  // background: url(../images/loading.png);
  // z-index: 5546516 !important;
  // display: none;
}
.spinner-loader--show{
  // display: block !important;
}